# Supabase 설정
EXPO_PUBLIC_SUPABASE_URL=your_supabase_url_here
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# 투야 API 설정
EXPO_PUBLIC_TUYA_APP_KEY=your_tuya_app_key_here
EXPO_PUBLIC_TUYA_APP_SECRET=your_tuya_app_secret_here
EXPO_PUBLIC_TUYA_REGION=us

# WiFi 설정 (디바이스 등록 시 사용)
EXPO_PUBLIC_WIFI_SSID=your_wifi_ssid_here
